.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 3rem;
  padding: 3rem;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: white;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.searchInput {
  margin-top: 2%;
  width: 50%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 8px 0 0 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.searchInput:focus {
  border-color: #0070f3;
}

.searchButton {
  margin-top: 2%;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #0059c1;
}


.card {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.image {
  border-radius: 8px;
  object-fit: cover; 
}

.name {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: #333;
}

.price {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #0059c1;
}
